doctype html
html(ng-app='app')

    head
        title Doceo v#{package.version}
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width")
        <!-- inject:css -->
        <!-- endinject -->

    body(ng-include='"app-main"')

    script(src='./js/vendor/lodash/2.4.1/lodash.min.js')
    script(src='./js/vendor/angular/1.2.14/angular.min.js')
    <!-- inject:js -->
    <!-- endinject -->
